---
import Layout from '../../layouts/Layout.astro';
import { makeContentRoutes } from '../../lib/content';

export async function getStaticPaths() {
  const hostname = import.meta.env.BACKEND_URL || 'http://localhost:3000';
  return await makeContentRoutes(hostname);
}

let { title, content } = Astro.props;
---

<Layout title={title}>
  <main class="h-min-[80dvh] h-max mx-auto max-w-6xl px-4 py-8">
    <Fragment set:html={content} />
  </main>
</Layout>

<style is:global>
  h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
</style>